@import "tailwindcss";

:root {
  --background: #f0f9ff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@utility perspective-1000 {
  perspective: 1000px;
}

@utility transform-style-3d {
  transform-style: preserve-3d;
}

@utility backface-hidden {
  backface-visibility: hidden;
}

@utility rotate-y-180 {
  transform: rotateY(180deg);
}